language: ruby
rvm:
  - 2.0.0
script: "rake spec"
branches:
  only:
    - master
env:
  - PUPPET_VERSION=3.8.1
  - PUPPET_VERSION=3.7.4
notifications:
  email:
    - oli@hebbelweg.de
gemfile: .gemfile
